@page
@model Projet_AdoNet.Pages.Commerciaux.DeleteModel

@{
    ViewData["Title"] = "Suppression d'un Commercial";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<h3>Voulez vous réellement le supprimer ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Prenom)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Commercial.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Revenir à la liste</a>
    </form>
</div>
