@page
@model Projet_AdoNet.Pages.Commerciaux.DetailsModel

@{
    ViewData["Title"] = "Details du Commercial";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Prenom)
        </dd>
    </dl>
</div>
<div>
    <!--
    <a asp-page="./Edit" asp-route-id="@Model.Commercial.Id">Modifier</a> |
    <a asp-page="./Index">Revenir à la liste</a>
    -->
</div>
