@page
@model Projet_AdoNet.Pages.Commerciaux.IndexModel

@{
    ViewData["Title"] = "Administration - Commerciaux";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" tabindex="-1" role="button">Nouveau commercial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].nomCommercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].prenomCommercial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commercial)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomCommercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenomCommercial)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.idCommercial">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.idCommercial">Détails</a> |
                    <a asp-page="./Delete" asp-route-id="@item.idCommercial">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
