@page
@model Projet_AdoNet.Pages.Commerciaux.IndexModel

@{
    ViewData["Title"] = "Gestion des Commerciaux";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" role="button">Créer un Commercial</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commercial)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a> |
                    <a asp-page="../Operations/ListeProjetParCommercial" asp-route-id="@item.Id">Afficher projet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
