@page
@model Projet_AdoNet.Pages.Managers.DeleteModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Suppression d'un Manager";
}

@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<h3>Voulez vous réellement le supprimer ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Password)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Manager.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Revenir à la liste</a>
    </form>
</div>
