@page
@model Projet_AdoNet.Pages.Managers.IndexModel

@{
    ViewData["Title"] = "Administration - Managers";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" tabindex="-1" role="button">Nouveau manager</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].nomManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].prenomManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].userManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenomManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userManager)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idManager">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.idManager">Détails</a> |
                <a asp-page="./Delete" asp-route-id="@item.idManager">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
