@page
@model Projet_AdoNet.Pages.Managers.IndexModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Gestion des Managers";
}

@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" role="button">Créer un Manager</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Manager)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
