@page
@model Projet_AdoNet.Pages.Projets.DetailsModel

@{
    ViewData["Title"] = "Details du Projet";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.DateCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.DateFinalisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.DateFinalisation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.Ville)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.Ville)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.IdStatut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.IdStatut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.IdCommercial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.IdCommercial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projet.IdClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.IdClient)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Projet.Id">Modifier</a> |
    <a asp-page="./Index">Revenir à la liste</a>
</div>
