@page
@model Projet_AdoNet.Pages.Operations.FiltreProjetParVilleModel

@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Le nombre de projets par ville";
}

@*Gestion de la bouton de déconnexion*@
<script src="~/js/ButtonControl.js"></script>

@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@*début séparation*@
<br />
<hr />
<br />
@*fin séparation*@

<div class="row">
    <div class="col-sm">
        <h4>Ci-dessous la liste des projets regroupés par ville :</h4>
        <br />
        <table class="table table-striped table caption-top">
            <thead>
                <tr>
                    <th scope="col">Nombre de projet</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @*application d'une boucle foreach pour l'affichage des données*@
                @foreach (var item in Model.ProjetPC)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(Model => item.NombreProjet)</th>
                        <td>@Html.DisplayFor(Model => item.Ville)</td>
                        <td><a asp-page="./DetailsProjetParVille" asp-route-ville="@item.Ville">Afficher tous</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <h4>Le diagramme du résultat :</h4>
        <br />
        @*canvas pour afficher le diagramme*@
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
</div>


@*Deux tableaux cachée pour le traitement des diagrammes - les données sont les mêmes que ce qu'il y a dans le tableau précédent*@

<table id="nbprojet" style="visibility:collapse;">
    @foreach (var item in Model.ProjetPC)
    {
        <tr>
            <td>@Html.DisplayFor(Model => item.NombreProjet)</td>
        </tr>
    }
</table>
<table id="ville" style="visibility:collapse;">
    @foreach (var item in Model.ProjetPC)
    {
        <tr>
            <td>@Html.DisplayFor(Model => item.Ville)</td>
        </tr>
    }
</table>

<!--injection du script-->
<script src="~/js/Chart.bundle.min.js"></script>

<!--script pour le chart-->
<script src="~/js/FiltreProjetParVille.js"></script>