@page
@model Projet_AdoNet.Pages.Operations.IndexModel
@{
    ViewData["Title"] = "Intelligence de l'entreprise [B.I]";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


<br />


<div class="row">
    <div class="col-sm">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Opération sur les Commerciaux
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">

                        <!--début de groupe de bouton-->
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <!--premier bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a class="btn btn-secondary" data-toggle="collapse" href="#Filtre" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Comparer
                                </a>
                            </div>
                            <!--deuxième bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a class="btn btn-secondary" data-toggle="collapse" asp-page="/Operations/TopDixCommerciaux" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Afficher tous
                                </a>
                            </div>
                            <!--troisieme bouton-->
                            <div class="btn-group" role="group" aria-label="Third group">

                            </div>
                        </div>
                        <!--fin de groupe de bouton-->

                        <br />

                        <!--collapse pour les filtre-->
                        <div class="collapse" id="Filtre">
                            <div class="card card-body">

                                <!--Début du menu Commerciaux-->
                                <div class="card border-secondary mb-3" style="max-width: 28rem;">
                                    <div class="card-body text-secondary">
                                        <h5 class="card-title">Selectionner 2 à 5 personnes</h5>
                                        <!--début de filtre-->
                                        <!--collapse pour les filtres de comparaison-->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Comm1">Commercial N° 1</label>
                                            </div>
                                            <select class="custom-select" id="Comm1">
                                                <option value="">-Choisir-</option>
                                                @foreach (var item in Model.ProjetPC)
                                                {
                                                    <option value="@item.Id">@Html.DisplayFor(Model => item.Prenom) @Html.DisplayFor(Model => item.Nom)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Comm2">Commercial N° 2</label>
                                            </div>
                                            <select class="custom-select" id="Comm2">
                                                <option value="">-Choisir-</option>
                                                @foreach (var item in Model.ProjetPC)
                                                {
                                                    <option value="@item.Id">@Html.DisplayFor(Model => item.Prenom) @Html.DisplayFor(Model => item.Nom)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Comm3">Commercial N° 3</label>
                                            </div>
                                            <select class="custom-select" id="Comm3">
                                                <option value="">-Choisir-</option>
                                                @foreach (var item in Model.ProjetPC)
                                                {
                                                    <option value="@item.Id">@Html.DisplayFor(Model => item.Prenom) @Html.DisplayFor(Model => item.Nom)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Comm4">Commercial N° 4</label>
                                            </div>
                                            <select class="custom-select" id="Comm4">
                                                <option value="">-Choisir-</option>
                                                @foreach (var item in Model.ProjetPC)
                                                {
                                                    <option value="@item.Id">@Html.DisplayFor(Model => item.Prenom) @Html.DisplayFor(Model => item.Nom)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Comm5">Commercial N° 5</label>
                                            </div>
                                            <select class="custom-select" id="Comm5">
                                                <option value="">-Choisir-</option>
                                                @foreach (var item in Model.ProjetPC)
                                                {
                                                    <option value="@item.Id">@Html.DisplayFor(Model => item.Prenom) @Html.DisplayFor(Model => item.Nom)</option>
                                                }
                                            </select>
                                        </div>

                                        <!--fin de filtre-->


                                    </div>
                                </div>


                            </div>
                        </div>


                        <!--Fin du menu Commerciaux-->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Opération sur les Clients
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!--Début du menu Client-->
                        <!--début de groupe de bouton-->
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <!--premier bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a class="btn btn-secondary" asp-area="" asp-page="/Operations/ListeDesClients">
                                    Afficher tous
                                </a>
                            </div>
                            <!--deuxième bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a class="btn btn-secondary" asp-area="" asp-page="/Operations/TopDixClients">
                                    Top 10
                                </a>
                            </div>
                            <!--troisieme bouton-->
                            <div class="btn-group" role="group" aria-label="Third group">

                            </div>
                        </div>
                        <!--fin de groupe de bouton-->
                        <!--Fin du menu Client-->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Opération sur les projets
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!--Début du menu Projet-->
                        <!--début de groupe de bouton-->
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <!--premier bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a class="btn btn-secondary" asp-area="" asp-page="/Operations/ListeDesProjets">
                                    Afficher tous
                                </a>
                            </div>
                            <!--deuxième bouton-->
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a class="btn btn-secondary" asp-area="" asp-page="/Operations/FiltreProjetParDelais">
                                    Par Date
                                </a>
                            </div>
                            <!--troisieme bouton-->
                            <div class="btn-group" role="group" aria-label="Third group">
                                <a class="btn btn-secondary" asp-area="" asp-page="/Operations/FiltreProjetParVille">
                                    Par ville
                                </a>
                            </div>
                        </div>
                        <!--fin de groupe de bouton-->
                        <!--Fin du menu Projet-->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm">

        <table class="table table-striped table caption-top">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nombre de projet</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjetPC)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(Model => item.Id)</th>
                        <th>@Html.DisplayFor(Model => item.Nom)</th>
                        <td>@Html.DisplayFor(Model => item.Prenom)</td>
                        <td>@Html.DisplayFor(Model => item.NombreProjet)</td>
                        <td><a asp-page="./ListeProjetParCommercial" asp-route-id="@item.Id" asp-route-id1="">Afficher projet</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
