@page
@model Projet_AdoNet.Pages.Operations.ListeDesProjetsModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "La liste des projets";
}


@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />
<hr />
<br />

<h4>Ci-dessous la liste de tous les projets :</h4>
<br />

<table class="table table-striped table caption-top">
    <thead>
        <tr>
            <th scope="col">Ref. Projet</th>
            <th scope="col">Nom</th>
            <th scope="col">Date de Création</th>
            <th scope="col">Date de Finalisation</th>
            <th scope="col">Ville</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjetPC)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(Model => item.Id)</th>
                <td>@Html.DisplayFor(Model => item.Nom)</td>
                <td>@Html.DisplayFor(Model => item.DateCreation)</td>
                <td>@Html.DisplayFor(Model => item.DateFinalisation)</td>
                <td>@Html.DisplayFor(Model => item.Ville)</td>
                <td>@Html.DisplayFor(Model => item.IdStatut)</td>
                <td>
                    <a asp-page="../Clients/Details" asp-route-id="@item.IdClient">Afficher le client</a> |
                    <a asp-page="../Commerciaux/Details" asp-route-id="@item.IdCommercial">Afficher le commercial</a>
                </td>
            </tr>
        }
    </tbody>
</table>