@page
@model Projet_AdoNet.Pages.Operations.ListeDesClientsModel
@{
    ViewData["Title"] = "La liste des clients";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<table class="table table-striped table caption-top">
    <thead>
        <tr>
            <th scope="col">Ref. Client</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nombre de projet</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjetPC)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(Model => item.Id)</th>
                <th>@Html.DisplayFor(Model => item.Nom)</th>
                <td>@Html.DisplayFor(Model => item.Prenom)</td>
                <td>@Html.DisplayFor(Model => item.NombreProjet)</td>
                <td><a asp-page="./ListeProjetParClient" asp-route-id="@item.Id" asp-route-id1="">Afficher les projets</a></td>
            </tr>
        }
    </tbody>
</table>