@page
@model Projet_AdoNet.Pages.Clients.IndexModel

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Gestion des Clients";
}

@*Gestion de la bouton de déconnexion*@
<script src="~/js/ButtonControl.js"></script>

@*Test de redirection*@
@if (HttpContext.Session.GetString("login") == null)
{
    <script src="~/js/Redirect.js"></script>
}


<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" role="button">Créer un Client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@{

        var myChart = new Chart(width: 600, height: 400)
            .AddTitle("Chart Title")
            .AddSeries(
                name: "Employee",
                xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
                yValues: new[] { "2", "6", "4", "5", "3" })
            .Write();
    }*@
