@page
@model Projet_AdoNet.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Administration - Clients";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg" tabindex="-1" role="button">Nouveau client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].nomClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].prenomClient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prenomClient)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.idClient">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.idClient">Détails</a> |
                    <a asp-page="./Delete" asp-route-id="@item.idClient">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li>@i</li>
    }
</ul>